<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<link href="/assets/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/element-ui.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/components.css">

</head>
<body>
<div id="app">
	<div class="main-content">

		<div class="search-module">
			<el-form
					:inline="true"
					:model="formData"
					label-position="right"
					label-width="75px"
					class="demo-form-inline">
			
				<el-form-item label="关键字:">
					<el-input v-model="formData.name_cn" placeholder="关键字"></el-input>
				</el-form-item>
			
				

				<el-form-item>
					<button type="button" class="btn" @click="onSubmit"><i class="fa fa-search"></i>&nbsp;查询</button>
				</el-form-item>
			</el-form>
		</div>

		<div class="operation-module">
			<button type="button" class="o-btn" @click.stop="category_add = true"><i class="fa fa-plus"></i>新增</button>
			<button type="button" class="o-btn" @click="importorder"><i class="fa fa-sign-in"></i>导入</button>
			<el-dialog title="新增" v-model="category_add" size="tiny" align="left"
					   class="reviseForm" top="5%">
				<el-form :model="addCategoryForm" :rules="reviseRules" ref="addCategoryForm" label-width="100px"
						 class="demo-ruleForm">
					
					<el-form-item label="一级类目" prop="cat_1">
						<el-input v-model="addCategoryForm.cat_1"></el-input>
						
					</el-form-item>
					<el-form-item label="二级类目" prop="cat_2">
						<el-input v-model="addCategoryForm.cat_2"></el-input>
					</el-form-item>
					<el-form-item label="三级类目" prop="cat_3">
						<el-input v-model="addCategoryForm.cat_3"></el-input>
					</el-form-item>
					<el-form-item label="四级类目" prop="cat_4">
						<el-input v-model="addCategoryForm.cat_4"></el-input>
					</el-form-item>
					<el-form-item label="中文名称" prop="name_cn">
						<el-input v-model="addCategoryForm.name_cn"></el-input>
					</el-form-item>
					<el-form-item label="是否ENA" prop="is_ean">
						<el-select v-model="addCategoryForm.is_ean" filterable placeholder="请选择">
							<el-option label="是" value="1"></el-option>
							<el-option label="否" value="2"></el-option>
						</el-select>
						
					</el-form-item>
					<el-form-item label="CODE" prop="code">
						<el-input v-model="addCategoryForm.code"></el-input>
					</el-form-item>
					
				</el-form>
				<span slot="footer" class="dialog-footer">
                    <el-button @click.stop="resetForm('addCategoryForm')">取 消</el-button>
                    <el-button type="primary" @click="addForm('addCategoryForm',addCategoryForm)">确 定</el-button>
                </span>
			</el-dialog>
		</div>
		
		
		<!--批量导入分类-->
		
	
		
		<el-dialog title="导入分类" :close-on-click-modal="true" v-model="srow" size="tiny">
			<div class="detail-info">
				<el-row>
					<el-col :span="24">
						<div class="text-box">
							<p>点击下载模版&nbsp;:</p>
							<a target="_blank" type="primary" href="/uploads/category/category_put_temp/category_put_temp.xls"><el-button type="text">分类模板</el-button></a>
						</div>
					</el-col>
					<el-col :span="24">
						<div class="text-box" style="margin-top: 10px">
							<p>请选择文件&nbsp;:</p>
							<el-upload class="upload-demo"
									   action="/category/category_put/"
									   :on-success="successe"
									   :file-list="fileList3">
								<el-button size="small" type="primary">点击上传
								</el-button>
								<div slot="tip" class="el-upload__tip">
									只能上传excel文件，且不超过50M
								</div>
							</el-upload>
						</div>
					</el-col>
				</el-row>
			</div>
			<span slot="footer" class="dialog-footer">
                <el-button @click="srow = false">关闭</el-button>
            </span>
		</el-dialog>

		<div class="table-module">
			<template>
				<el-table :data="tableData" :highlight-current-row="true" style="width: 100%">
					<el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
					<el-table-column prop="id" label="ID" width="100" align="center"></el-table-column>
					<el-table-column prop="cat_1" label="一级类目" width="190" align="center"></el-table-column>
					<el-table-column prop="cat_2" label="二级类目" width="190" align="center"></el-table-column>
					<el-table-column prop="cat_3" label="三级类目" width="190" align="center"></el-table-column>
					<el-table-column prop="cat_4" label="四级类目" width="190" align="center"></el-table-column>
					<el-table-column prop="name_cn" label="中文名称" width="190" align="center"></el-table-column>
					<el-table-column  label="是否EAN" width="190"  align="center">
						<template scope="scope">
							<span v-if="scope.row.is_ean == 1">是</span>
							<span v-if="scope.row.is_ean == 2">否</span>
						</template>
					</el-table-column>
					<el-table-column prop="code" label="CODE" width="190" align="center"></el-table-column>
					
					<el-table-column label="操作" width="205" align="center">
						<template scope="scope">
							<div class="">
								<a href="#" class="alink" @click="handleEdit(scope.$index, scope.row)">修改</a>
								<a href="#" class="alink" @click="doDelete(scope.$index,scope.row)">删除</a>

							</div>
						</template>
					</el-table-column>
				</el-table>
			</template>

			<el-dialog title="修改" v-model="reviseVisible" size="tiny" align="left" class="reviseForm" top="5%">
				<el-form :model="reviseForm" :rules="reviseRules" ref="reviseForm" label-width="100px"
						 class="demo-ruleForm">
					
					<!--<div class="dialog-title">基本信息</div>-->
					
					<el-form-item label="一级类目" prop="cat_1">
						<el-input v-model="reviseForm.cat_1"></el-input>
						
					</el-form-item>
					<el-form-item label="二级类目" prop="cat_2">
						<el-input v-model="reviseForm.cat_2"></el-input>
					</el-form-item>
					<el-form-item label="三级类目" prop="cat_3">
						<el-input v-model="reviseForm.cat_3"></el-input>
					</el-form-item>
					<el-form-item label="四级类目" prop="cat_4">
						<el-input v-model="reviseForm.cat_4"></el-input>
					</el-form-item>
					<el-form-item label="中文名称" prop="name_cn">
						<el-input v-model="reviseForm.name_cn"></el-input>
					</el-form-item>
					
					<el-form-item label="是否ENA" prop="is_ean">
						<el-select v-model="reviseForm.is_ean" filterable placeholder="请选择">
							<el-option label="是" value="1"></el-option>
							<el-option label="否" value="2"></el-option>
						</el-select>
					</el-form-item>
					
					<el-form-item label="CODE" prop="code">
						<el-input v-model="reviseForm.code"></el-input>
					</el-form-item>
				</el-form>
				
				<span slot="footer" class="dialog-footer">
					<el-button @click="reviseVisible = false">取 消</el-button>
					<el-button type="primary" @click="submitForm('reviseForm',reviseForm)">确 定</el-button>
				</span>
			</el-dialog>
			<el-pagination @size-change="handleSizeChange"
						   @current-change="handleCurrentChange"
						   :current-page="currentPage"
						   :page-sizes="[10, 20, 30, 40]"
						   :page-size="pageSize"
						   layout="total, sizes, prev, pager, next, jumper"
						   :total="total"
						   class="pagination">
			</el-pagination>
		</div>
		
		
		<el-dialog title="删除" :close-on-click-modal="false" v-model="deleteVisible" size="tiny" align="left"  class="ruleAddForm">
			<span>确定要删除吗？</span>
			<span slot="footer" class="dialog-footer">
			<el-button @click="deleteVisible = false">取 消</el-button>
			<el-button type="primary" @click="doDelete()">确 定</el-button>
		</span>
		</el-dialog>
		
	</div>
</div>

<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script src="/assets/js/vue.js"></script>
<script src="/assets/js/vue-resource.js"></script>
<script src="/assets/js/element-ui.js"></script>
<script src="/assets/js/interceptors.js"></script>
<script src="/assets/js/fun.js"></script>
<script>

	var Main = {
		mixins: [myMixin],
		data: function () {
			return {
				formData: {
					name_cn:'',
                    department_ids: '',
					currentPage: myMixin.data().currentPage,
					pageSize: myMixin.data().pageSize,
				},
				reviseVisible: false,
				deleteVisible: false,
				selecteddRow: false,
				category_add: false,
				srow: false,
				user_delete: false,
				index: null,
				tableData: [],
				fileList3:[],
				addCategoryForm: {
					cat_1: '',
					cat_2: '',
					cat_3: '',
					cat_4: '',
					name_cn: '',
					is_ean: '',
					code: '',
                    department_ids: '',
				},
				reviseForm: {
					cat_1: '',
                    cat_2: '',
                    cat_3: '',
                    cat_4: '',
					name_cn:'',
					is_ean:'',
					code:'',
                    department_ids: '',
				},
				dropdown: {
				    role: [],
					department: [],
					department_edit: [],
					department_all: [],
				},
				company: [],
				user_group: [],
				is_admin: false,
				reviseRules: {
					cat_1: [
						{required: true, message: '请输入一级类目名称', trigger: 'blur'}
					],
					cat_2: [
						{required: true, message: '请输入二级类目名称', trigger: 'blur'}
					],
					name_cn: [
						{required: true, message: '请输入最后一级的中文名称', trigger: 'blur'},
					],
					code: [
						{required: true, message: '请输入CODE', trigger: 'blur'},
                        {min: 10, max: 10, message: '请输入正确的code码', trigger: 'blur,change'}
					],
					type: [
						{required: true, message: '请选择', trigger: 'blur'}
					],
					is_ean: [
						{required: true, message: '请选择', trigger: 'blur'}
					],
                    department_ids: [
                        {required: true, type: 'array', message: '请选择', trigger: 'blur'}
                    ]
				}
			}
		},
 
		methods: {
			
			//分页
			handleSizeChange: function (val) {
				this.pageSize = val;
				this.formData.currentPage = this.currentPage;
				this.formData.pageSize = val;
				this.getList(this.formData);
			},
			handleCurrentChange: function (val) {
				this.currentPage = val;
				this.formData.currentPage = val;
				this.formData.pageSize = this.pageSize;
				this.getList(this.formData);
			},

			//重置
			resetForm: function (formName) {
				this.category_add = false
				this.$refs[formName].resetFields();
			},
			//新增
			addForm: function (formName, data) {
				var that = this;

				console.log(data);
				this.$refs[formName].validate(function (valid) {
					if (valid) {
						Vue.http.post('/category/add', data, {emulateJSON: true}).then(function (response) {
							if (response.body.error == 0) {
								location.reload();
							} else {
								that.error(response.body.msg);
							}
						}, function (response) {
							that.error(response.body.msg);
						});
					} else {
						that.error('表单填写有误');
						return false;
					}
				});
			},
			//修改
			handleEdit: function (index, row) {

				this.reviseVisible = true;
				this.index = index;

				console.log(row);

				for (var key in row) {
					this.reviseForm[key] = row[key];

                    if(key == 'department_ids' && key == '') {
                        this.reviseForm.department_ids = [];
                    }

					//patch
                    Array.prototype.contains = function (obj) {
                        var i = this.length;
                        while (i--) {
                            if (this[i] == obj) {
                                return true;
                            }
                        }
                        return false;
                    }
                    
                    if(key == 'department_ids') {
                        this.dropdown.department_edit = [];
					    var department_edit = [];
					    var dep_all = this.dropdown.department_all;
					    for(var i in dep_all) {
					        var depart_ids = (row[key] + '').split(',');
							var bool = depart_ids.contains(dep_all[i].id);
							if(bool) {
                                department_edit.push(dep_all[i]);
							}
						}
					    this.dropdown.department_edit = department_edit;
					    //batch 如果是超级管理员，那么显示全部的部门
						if(this.is_admin == true) {
						    this.dropdown.department_edit = dep_all;
						}
					}
				}


			},
			
			submitForm: function (formName, data) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (valid) {
						Vue.http.post('/category/edit', data, {emulateJSON: true}).then(function (response) {
							console.log(response);
							if (response.body.error == 0) {
								for (var key in data) {
									that.tableData[that.index][key] = data[key];
								}
								that.reviseVisible = false;
								that.success('修改成功');
							} else {
								that.error(response.body.msg);
							}
						}, function (response) {
							that.error(response.body.msg);
						});
					} else {
						that.error('表单填写有误');
						return false;
					}
				});
			},
			
			doDelete: function (val, row) {
				if(row) {
					this.deleteVisible = true;
					this.selecteddRow = row;
					return
				}
				
				var that = this;
				var id = this.selecteddRow.id;
				
				Vue.http.get('/category/delete?id=' + id).then(function (response) {
					if (response.body.error == 0) {
						that.success('删除成功');
						that.deleteVisible = false;
						that.getList(that.formData);
						
					} else {
						that.error(response.body.msg);
					}
				}, function (response) {
					that.error(response.body.msg);
				});
			},
			
			//导入
            importorder:function(){
                this.srow = true;
                this.fileList3 = [];
                // console.log(1);
            },
            successe:function(response, file, fileList){
                var that = this;
                if(response.s==1){
                    that.success(response.msg);
                    that.srow = false;
                }else if(response.s==0){
                    that.success(response.msg);
                    that.srow = false;
                    
                }
            },
			
			//查询
			onSubmit: function () {

                var that = this;
				this.currentPage = 1
                this.formData.currentPage = this.currentPage;
                this.formData.pageSize = this.pageSize;
                Vue.http.post('/category/index', this.formData, {emulateJSON: true}).then(function (response) {
                    console.log(response);
                    that.tableData = response.body.data;
                    // that.dropdown = response.body.data.dropdown;
                }, function (response) {
                    console.log("查询失败")
                });
			},
			getList: function(option) {

                var that = this;
                Vue.http.post('/category/index', option, {emulateJSON: true}).then(function (response) {
                    console.log(typeof response.body.data);
					that.tableData = response.body.data;
					that.total = response.body.total;
					
                    // that.dropdown = response.body.data.dropdown;
                }, function (response) {
                    console.log("查询失败")
                });
			},
	
		},
		created: function () {
		    var that = this;
		    this.getList(this.formData);
		}
	};
	var Ctor = Vue.extend(Main);
	Vue.http.options.emulateJSON = true;
	new Ctor().$mount('#app');
</script>
</body>
</html>
